@page
@model nps.Pages.Login.IndexModel
@{
    ViewData["Title"] = "Login";
}
<div>
    <form method="post" class="login-form">
        <h2 class="login-title text-center">Login</h2>

        <div asp-validation-summary="All" class="text-danger text-center"></div>

        <div class="form-group">
            <label asp-for="LoginInfo.Email"></label>
            <input type="text" asp-for="LoginInfo.Email" class="form-control" placeholder="Enter your email" />
        </div>

        <div class="form-group">
            <label asp-for="LoginInfo.Password"></label>
            <input type="password" asp-for="LoginInfo.Password" class="form-control" placeholder="Enter your password" />
        </div>

        <div class="text-center">
            <button type="submit" class="login-btn">Login</button>
        </div>
    </form>
</div>