@page
@model nps.Pages.OrderPage.OrderPage

@{
    ViewData["Title"] = "Order Page";
}

<head>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    <title>@ViewData["Title"]</title>
</head>

<h1>@Model.User?.Email</h1>