@model nps.Models.SurveyQuestions.CheckBoxQuestion
<div id="question-@Model.Id">
    <p class="quiz-question">@Model.QuestionText</p>
    <div class="quiz-options">
        @foreach (var option in Model.Choices)
        {
            <label class="quiz-option">
                <input type="checkbox" name="Buffer" value="@option.Text"> @option.Text
            </label>
        }
    </div>
</div>
