@model nps.Models.DTOS.QuestionSurveyPair<nps.Models.SurveyQuestions.SingleChoiceQuestion>
<div id="question-@Model.Question.Id">
    <p class="quiz-question">@Model.Question.QuestionText</p>
    <div class="quiz-options">
        @foreach (var choice in Model.Question.Choices.Take(Model.Question.MaxOptions)
                                                      .OrderBy(ch => ch.Text))
        {
            <label class="quiz-option">
                <input type="radio" name="SurveyDto.SingleChoiceAnswers[@Model.Question.Id]" value="@choice.Text"> @choice.Text
            </label>
        }
    </div>
</div>
