@page
@model UserAdditionModel
@{
	ViewData["Title"] = "User addition page";
}
<head>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
</head>

<div class="text-center">
    <form method="post" class="login-form">
        <h2 class="login-title text-center">Employee registration</h2>

        <div asp-validation-summary="All" class="text-danger text-center"></div>

        <input type="text" asp-for="LoginInfo.Email" aria-describedby="emailHelp" class="form-control" placeholder="Input the employee's company email" />

        <input type="password" asp-for="LoginInfo.Password" class="form-control" placeholder="Input the employee's password" />

        <button type="submit" class="login-btn">Register</button>

    </form>

    <table class="table table-striped table-hover table-bordered" style="width:50%; margin:auto; margin-top:20px; ">
        <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model.UserInfoList)
                {
                    <tr>
                        <td>@item.Email</td>
                        <td>@item.Password</td>
                    </tr>
                }
        </tbody>
    </table>
</div>
