@page
@model UserAdditionModel
@{
	ViewData["Title"] = "User addition page";
}

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>

<div class="text-center">
    <h1 class="display-5" style="margin-bottom:20px;">User addition to the NPS system</h1>
    <form method="post" style="width:50%; margin:auto; text-align:left; padding:20px; border: solid 3px #32CD32; border-radius:10px;">
        
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address" asp-for="UserInfo.Email" required>
        <div id="emailHelp" class="form-text">Input the person's company email'</div>

        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="margin-top:20px; margin-bottom: 20px" asp-for="UserInfo.Password" required>

        <button class="btn btn-outline-success me-2" type="submit" style="font-weight: 700;">Submit</button>
    </form>

    <table class="table table-striped table-hover table-bordered" style="width:50%; margin:auto; margin-top:20px; ">
        <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model.UserInfoList)
                {
                    <tr>
                        <td>@item.Email</td>
                        <td>@item.Password</td>
                    </tr>
                }
        </tbody>
    </table>
</div>
