@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
</head>

<div class="text-center">
    <h1 class="display-4">Sveiki prisijungę prie „Hoptrans“ NPS sistemos</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>